version: '3.9'

services:
  gen:
    build: .
    image: lab_gen:${LAB_GEN_VERSION:-latest}
    ports:
      # Exposes application port.
    - "8000:8000"
    # restart: always
    env_file:
    - .env
    environment:
      LAB_GEN_HOST: 0.0.0.0
      LAB_GEN_PORT: 8000
