<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lab Gen API</title>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>
    <!-- Client Side Templates Extension -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Emtyloc/json-enc-custom@main/json-enc-custom.js"></script>
    <!-- Handlebars JS -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <!-- Fonts and Styling -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/prompts.css">
</head>

<body>
    <section class="header">
        <h1>Lab Gen API</h1>
        <p>Test the API here</p>
    </section>
    <!-- Authorisation: Set the API key-->
    <section>
        <h3>Authorisation</h3>
        <p>Set the API key</p>
        <input type="password" id="api-key" placeholder="API Key..." hx-history />
    </section>
    <!-- Authorisation: Set the user-->
    <section>
        <h3>Business User</h3>
        <p>Set the business user</p>
        <input type="text" id="business-user" placeholder="User..." value="demo" />
    </section>
    <!-- Get All Prompts -->
    <section hx-ext="client-side-templates" class="border-top">
        <h2 id="get-prompt">Start Conversation</h2>
        <p>Start a conversation.</p>
        <form hx-ext='json-enc-custom'>
            <div id="prompt-variables">
                <p hx-get="/api/models/" hx-trigger="load" hx-target="#models" handlebars-template="models-template"
                    hx-on::after-on-load="onLoad()">Model</p>
                <div id="models"></div>
                <input type="text" id="prompt-name" name="promptId" readonly />
            </div>
            <!-- Button that triggers htmx events -->
            <button hx-post="/api/conversations" hx-trigger="click" hx-target="#start-conversation" hx-swap="innerHTML"
                hx-on::config-request="hideError(); setAuthorizationHeader(event); hideResult(true);"
                hx-on::response-error="handleError(event)" hx-indicator="#conversation-indicator"
                hx-on::after-request="hideResult(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                    <path fill="white" d="M3.78 2L3 2.41v12l.78.42l9-6V8zM4 13.48V3.35l7.6 5.07z" />
                </svg>
                Run
            </button>
        </form>
        <!-- Error Message -->
        <div id="start-error-message" class="error-message" hidden></div>
        <!-- Loading Icon -->
        <div class="indicator-start" id="conversation-indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                <path fill="#555555" d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                    opacity="0.25" />
                <path fill="#555555"
                    d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z">
                    <animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite" type="rotate"
                        values="0 12 12;360 12 12" />
                </path>
            </svg>
        </div>
        <div id="start-conversation" class="card" hidden></div>
        <template id="models-template">
            <select name="modelKey">
                {{#each .}}
                {{#ifEquals key}}
                <option value="{{key}}" selected>{{key}}</option>
                {{else}}
                <option value="{{key}}">{{key}}</option>
                {{/ifEquals}}
                {{/each}}
            </select>
        </template>
    </section>
    <script>
        const DEFAULT_MODEL = "AZUREGPTGENERAL";

        /**
         * Get URL Parameters and Populate the Form
         *
         * When the page is loaded, get the URL parameters and populate the form.
         *
         * @param {object} content - The content of the page.
         */
        const onLoad = () => {
            // Get URL Parameters
            const urlParams = new URLSearchParams(window.location.search);

            // Get Prompt ID
            const prompt = urlParams.get('prompt')
            const promptName = document.getElementById('prompt-name');
            promptName.value = prompt;

            // Get Prompt Variables
            const variables = urlParams.get('variables').split(',');
            const promptVariables = document.getElementById('prompt-variables');
            for (const element of variables) {
                const input = document.createElement('input');
                input.setAttribute('name', `variables[${element}]`);
                input.setAttribute('type', 'text');
                input.setAttribute('placeholder', element);
                promptVariables.appendChild(input);
            }

            // Check if API key is stored in local storage
            const apiKey = localStorage.getItem('api-key');
            const apiKeyInput = document.getElementById('api-key');
            apiKeyInput.value = apiKey;

            // Check if business user is stored in local storage
            const businessUser = localStorage.getItem('business-user');
            const businessUserInput = document.getElementById('business-user');
            businessUserInput.value = businessUser;
        }


        /**
         * Handlebars helper to check if a given model key is equal to the DEFAULT_MODEL.
         *
         * @param {string} modelKey - The model key to compare.
         * @param {object} options - Handlebars options object.
         * @returns {*} The result of the comparison.
         */
        Handlebars.registerHelper('ifEquals', function (modelKey, options) {
            return (modelKey == DEFAULT_MODEL) ? options.fn(this) : options.inverse(this);
        });

        /**
         * Set the Authorization header for the given event with the value of the text field
         * with id 'api-key'. If a business user is provided, sets the x-business-user header.
         * If no business user is provided, prevents the event's default action and displays an
         * error message.
         * @param {Event} event - Event to set the Authorization header for.
         */
        const setAuthorizationHeader = (event) => {
            const apiKey = document.getElementById('api-key').value;
            event.detail.headers['Authorization'] = apiKey;
            localStorage.setItem('api-key', apiKey);

            const businessUser = document.getElementById('business-user').value;
            if (businessUser) {
                event.detail.headers['x-business-user'] = document.getElementById('business-user').value;
                localStorage.setItem('business-user', businessUser);
            }
            else {
                event.preventDefault();
                console.error("Business User is required.");
                setError("An error occurred: Business User is required.", true);
            }
        }

        /**
         * Hides or shows the start conversation result.
         *
         * @param {boolean} show - If true, hides the start conversation result. If false, shows it.
         */
        const hideResult = (show) => {
            const startConversation = document.getElementById('start-conversation');
            startConversation.hidden = show;
        }

        /**
         * Hides the start conversation error message.
         */
        const hideError = () => {
            setError(null, false);
        }

        /**
         * Handles errors that occur during an API request by displaying an error message.
         *
         * The error message includes the HTTP status code and status text from the event's
         * XMLHttpRequest detail. The message is displayed in the 'start-error-message' element.
         *
         * @param {Event} event - The event object containing details about the API request error.
         */
        const handleError = (event) => {
            setError(`An error occurred: ${event.detail.xhr.status} ${event.detail.xhr.statusText}`, true);
        }

        /**
         * Shows or hides the error message for the start conversation page.
         *
         * The error message is displayed in the 'start-error-message' element.
         *
         * @param {string} message - The text of the error message to display.
         * @param {boolean} show - If true, shows the error message. If false, hides it.
         */
        const setError = (message, show) => {
            const errorMessage = document.getElementById('start-error-message');
            if (show) {
                errorMessage.removeAttribute('hidden');
                errorMessage.textContent = message;
            }
            else {
                errorMessage.setAttribute('hidden', '');
            }
        }
    </script>
</body>

</html>
